* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page-wrapper {
  padding: 0 15px;
  margin: 0 auto;
  width: 1024px;
}
